body {
    background-color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: darkslategray;
    margin: 0;
    padding: 20px;
}
form[name="frmCal"] {
    border: 2px solid darkslategray;
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
    border-radius: 10px;
    background-color: lavenderblush;
}
