body {
margin: 0;
nav#topmenu li {
font-size: 24px;
padding: 0;
background: #ccc;
line-height: 40px;
height: 40px;
} display: inline-block;
padding: 20px; nav#topmenu ul {
list-style: none; }
background-color: #444; nav#topmenu a {
text-align: center;
padding: 0;
text-decoration: none;
color: #fff;
margin: 0; }
}